@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

.header{
    background-color: #1f2937;
}

.logo-text{
    font-size: 24px;
    color: #f9faf8;
}

.header-link{
    font-size: 18px;
    color: #e5e7eb;
    padding: 15px;
}

.navbar{
    display: flex;
    flex-direction: row;
}

ul{
    display: flex;
    flex-direction: row;
}

.navbar-left, .navbar-right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}


.sub-header{
    display: flex;
    flex-direction: row;
}

h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.image-header{
    width: 550px;
}

.header-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    width: 50%;
    margin: 50px;
}

.header-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.first-p{
    font-size: 18px;
    color: #e5e7eb;
    margin-left: 150px;
    padding: 15px;
}

.header-button{
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 7px;
}

h2{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
    padding: 50px;
}

.blue-boxes-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    margin: 100px;
    align-items: center;
}

.image-info{
  width: 300px;
  height: 200px;
  object-fit: cover;
  border: 5px solid #3882f6;
  border-radius: 12px;
}

.second-p{
    text-align: center;
    font-size: 18px;
}